# Local development (laptop) only. Not used in Docker or EC2 (they set USERS_PATH/CONFIG_PATH themselves).
# Copy to .env and set paths so your users.json is never overwritten by setup or code changes.
USERS_PATH=/Users/mkesharw/Library/CloudStorage/OneDrive-Adobe/OSCAL-Config-Backup
/users.json
CONFIG_PATH=/Users/mkesharw/Library/CloudStorage/OneDrive-Adobe/OSCAL-Config-Backup/config.json
